	table, th, td{
		border: 1px solid black;
	}
	table{
		border-collapse: collapse;
	}
	.btn{
	margin: 10px}
	#pilotTable{
		width: 300px;
	}
	body{
		font-family: "Helvetica", Helvetica, sans-serif;
		background-color: #f0f0f5; 

		overflow-x:hidden; 
	}

	#pilots{
		width: 50%;
		float: left;
		padding-left: 30px;
		padding-bottom: 30px;
	}

	#planes{
		width: 50%;
		padding-right: 30px;
		margin-left: 50%;
		padding-bottom: 30px;
	}
	#planeTable{
		width: 300px;
	}
	.mainCaption{
		font-size: 20px;
	}
	.planes.mainCaption{
		padding-top: 20px;
	}
	
	#popupPlanes, #popupPilots{
		display: none;
		position: fixed;
		z-index: 1; 
		margin: auto;
		left: 0;
		top: 0;
		width: 100%; 
		height: 100%; 
		overflow: auto; 
		background-color: rgb(0,0,0); 
		background-color: rgba(0,0,0,0.2); 
	}

	#popupBackground, #popupBackgroundEdit{
		border-radius: 10px;
		box-shadow: 0 0 50px rgba(0,0,0,0.5);
		margin: 15% auto; 
    	padding: 20px;
    	border: 1px solid #888;
    	width: 30%; 
    	background-color: white
	}

	#popupSpan {
	    color: black;
	    float: right;
	    padding: 10px;
	    font-size: 28px;
	    font-weight: bold;
	}

	#popupText, #EditPilotsField, #popupTextEdit{
	    margin-top: 20px;
		margin-left: 20px;
	}

	#EditPilotsField{
		width: 60%;
	}
	#popupSpan:hover,
	#popupSpan:focus {
    cursor: pointer;
	}

    #firstName, #lastName{
    	height: 20px;
    	width: 80%;
    	margin: 20px;
    }

    .btn.popup.pilots{
    	margin: 20px;
    	height: 30px;
    }

	div#flights{
		background-color: #b7c7db; 
 		display: inline-block;
		margin: auto;
		width: 100%;
	}


	.flightsInternals{
		margin: 10px;
	}

	#planeName{
		margin-left: 20px;
		margin-bottom: 10px;
	}

	.btn.pilots{
		margin: 10px;
		margin-left: 0px;
	}
